*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.right , .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    background-color: black;
    border: 1px solid white;
    width: 50%;
}
.left button,
.right button{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     font-size: larger;
     padding: 10px;
     border-radius: 15px;
     z-index: 999;
     background-color: crimson;
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left button:hover,
.right button:hover{
    scale: 1.15;
    transition: all ease out;
}