*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    height: 100%;
    width: 100%;
}
.bar p{
    font-size: 20px;
    font-weight: 500;
}
.outer
{
    height: 20px;
    width: 90%;
    background-color: lightgrey;
    border-radius: 20px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 20px;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px black;
    background-color: white;
    width: 300px;
    flex-direction: column;
}

button{
    background-color: green;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

}
button:hover{
    scale: 1.05;
    transition: all ease 0.2;
}